wheel
python-dotenv==0.14.0
peewee==3.15.1
requests==2.25.1
Flask==2.1.3
flask-admin==1.6.0
wtf-peewee==3.0.4
gunicorn==20.1.0
mysqlclient==2.0.3
forex-python==1.6
bitmath==1.3.3.1
boto3==1.10.39
mysql-connector-python==8.0.22
pyodbc==4.0.28
hvac==0.10.11
werkzeug==2.1.2
google-cloud-bigquery
pyyaml
kubernetes
Authlib==0.15.3
loginpass==0.5
simplejson==3.17.2
Flask-HTTPAuth==4.7.0