{% extends 'admin/master.html' %}
{% block body %}
<p>
  <form method="GET">
    <label>Service</label>
    <select name="service_id" onchange="this.form.submit()">
        <option value=""></option>
        {% for service in services %}
        <option value="{{ service['id'] }}" {{ "selected" if str(service['id']) == selected_service_id }}>{{ service['name'] }}</option>
        {% endfor %}
    </select>
    <label>Invoice</label>
    <select name="invoice_id" onchange="this.form.submit()">
      <option value=""></option>
      {% for invoice in invoices %}
      <option value="{{ invoice.id }}" {{ "selected" if str(invoice.id) == selected_invoice_id }}>{{ invoice.get_friendly_name() }}</option>
      {% endfor %}
    </select>
  </form>
</p>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
              <th scope="column-header">ServiceComponent2Service</th>
              <th scope="column-header">ServiceComponent</th>
              <th scope="column-header">Quantity</th>
              <th scope="column-header">UnitPrice</th>
              <th scope="column-header">RelativePrice</th>
              <th scope="column-header">ServiceFixedPrice</th>
              <th scope="column-header">TotalPrice</th>
            </tr>
          </thead>
        {% for resource_cost in resource_costs %}
        <tr>
          <td>{{ resource_cost['ServicePart'] }}</td>
          <td>{{ resource_cost['ServiceComponent'] }}</td>
          <td>{{ resource_cost['Quantity'] }}</td>
          <td>{{ resource_cost['UnitPrice'] }}</td>
          <td>{{ resource_cost['RelativePrice'] }}</td>
          <td>{{ resource_cost['FixedPrice'] }}</td>
          <td>{{ resource_cost['TotalPrice'] | format_currency }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
              <th id="Total" colspan="6"><b>Total to be invoiced</b></th>
              <td><b>{{ (math.ceil(total_costs) if total_costs)  }}</b></td>
            </tr>
           </tfoot>
    </table>
  </div>
{% endblock %}